%p#notice= notice

%p
  %b User:
  = @request_property.user
%p
  %b Certificate:
  = @request_property.certificate
%p
  %b Request certificate:
  = @request_property.request_certificate
%p
  %b Comment:
  = @request_property.comment
%p
  %b Sequence request:
  = @request_property.sequence_request
%p
  %b Sequence certificate:
  = @request_property.sequence_certificate

= link_to 'Edit', edit_request_property_path(@request_property)
\|
= link_to 'Back', request_properties_path
