%p#notice= notice

%p
  %b User:
  = @request_property.user
%p
  %b Certificate:
  = @request_property.certificate
%p
  %b Request certificate:
  = @request_property.request_certificate
%p
  %b Comment:
  = @request_property.comment
%p
  %b Sequence request:
  = @request_property.sequence_request
%p
  %b Sequence certificate:
  = @request_property.sequence_certificate

= link_to 'Edit', edit_request_property_path(@request_property)
\|
= link_to 'Back', request_properties_path

=render "layouts/navbar"

.container.grey.lighten-3.signup-box
  .row
    .col.s12
      .container
        .row
          .col.s12.transform-uppercase.center-align
            %h5 Solicitud No.- #{@request_property.sequence_request}
            %table.bordered.highlight.centered.responsive-table
              %thead
                %tr
                  %th Acto o Contrato
                  %th N° de Inscripción
                  %th Año de Inscripción
                  %th
                  %th
              %tbody
                %tr
                  %td= @inscription.act
                  %td= @inscription.num_inscription
                  %td= @inscription.date_inscription
                  %td= link_to "Editar", edit_inscription_path(@inscription)
                  %td= link_to "Eliminar", @inscription, :method => :delete, :data => { :confirm => 'Are you sure?' }

  .row
    .col.s12
      %ul
        %li.col.s6
          = link_to "Regresar", inscriptions_path, class: "btn btn-ap"
        %li.col.s6
          = link_to 'Nuevo Compareciente', new_inscription_appearer_path(@inscription), class: "btn btn-ap"
  .row
    .col.s12
      .container
        .row
          .col.s12.transform-uppercase.center-align
            %h5 Vendedores
            %table.table-v.bordered.highlight.centered.responsive-table
              %thead
                %tr
                  %th Apellidos
                  %th Nombres
                  %th Calidad
                  %th Tipo de Interviniente
                  %th Persona que Representa o Le Representa
                  %th
                  %th

              %tbody
                -@inscription.appearers.each do |appearer|
                  -if(appearer.type_appearer == "VENDEDOR")
                    %tr
                      %td= appearer.last_name
                      %td= appearer.name
                      %td= appearer.type_appearer
                      %td= appearer.type_representative
                      %td= appearer.representative
                      %td= link_to 'Editar', edit_inscription_appearer_path(@inscription, appearer.id)
                      %td= link_to 'Eliminar', inscription_appearer_path(@inscription, appearer.id), :method => :delete, :data => { :confirm => 'Are you sure?' }
=render "layouts/footer"