%h1 Listing property_certificate_sequences

%table
  %thead
    %tr
      %th User
      %th Sequence
      %th Date sequence
      %th
      %th
      %th

  %tbody
    - @property_certificate_sequences.each do |property_certificate_sequence|
      %tr
        %td= property_certificate_sequence.user
        %td= property_certificate_sequence.sequence
        %td= property_certificate_sequence.date_sequence
        %td= link_to 'Show', property_certificate_sequence
        %td= link_to 'Edit', edit_property_certificate_sequence_path(property_certificate_sequence)
        %td= link_to 'Destroy', property_certificate_sequence, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Property certificate sequence', new_property_certificate_sequence_path
